<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifier</title>
</head>
<body>
<main>
    <div>
        <h1>Example presentation</h1>
        <br>
        <h2>URI</h2>
        <p id="req-uri"><%=authReqUri%></p>
        <br>
        <h2>QR Code</h2>
        <img src="<%=qrCodeDataUri%>">
    </div>
</main>
</body>
