<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifier</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<main>
    <a href="/">
        <header>
            <h1>Verifier</h1>
        </header>
    </a>

    <div correlationId="<%=correlationId%>" id="presentation">
        <h2>Created presentation details</h2>
        <h3>QR Code</h3>
        <img src="<%=qrCodeDataUri%>">
        <p><a href="<%=authReqUri%>">Open from wallet</a></p>

        <h3>URI</h3>
        <p id="req-uri"><%=authReqUri%></p>
    </div>
    <div id="status">
        <h2>Status of created presentation</h2>
        <p>Status of presentation is <strong><span id="status-text"></span></strong></p>
    </div>
    <div id="passport" hidden>
        <h2>Covid passport</h2>
        <p>Manufacturer is <span id="passport-manufacturer"></span></p>
        <p>Issued at <span id="passport-iat"></span></p>
        <p>Valid until <span id="passport-exp"></span></p>
        <p>Current valid status is <strong><span id="passport-status"></span></strong></p>

        <br>
        <p>Verifier has id token with payload</p>
        <pre id="id-token"></pre>
        <p>Verifier has vp token with payload</p>
        <pre id="vp-token"></pre>
    </div>
</main>
<script>
    let idToken;
    let vpToken;
    function check(){
        let xhr = new XMLHttpRequest();
        const correlationId = document.querySelector('#presentation').getAttribute('correlationId');
        xhr.open('POST',`/auth-status`);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onload = function(){
            if (this.status !== 200){
                console.log('Status is not 200');
                return;
            }
            const response = JSON.parse(this.response);
            console.log(response)
            document.querySelector('#status-text').innerHTML = response.status;
            if(response.status !== 'verified'){
                return;
            }
            const {data} = response;
            document.querySelector('#passport-iat').innerHTML = (new Date(data.iat * 1000)).toUTCString();
            document.querySelector('#passport-exp').innerHTML = (new Date(data.exp * 1000)).toUTCString();
            const statusHtml = document.querySelector('#passport-status');
            if(new Date() < new Date(data.exp * 1000)){
                statusHtml.innerHTML = 'VALID';
                statusHtml.style.color = 'green';
            } else {
                statusHtml.innerHTML = 'NOT VALID';
                statusHtml.style.color = 'red';
            }
            document.querySelector('#passport-manufacturer').innerHTML = data.manufacturer;
            document.querySelector('#vp-token').innerHTML = JSON.stringify(response.vpTokenPayload, null, 2);
            document.querySelector('#id-token').innerHTML = JSON.stringify(response.idTokenPayload, null, 2);
            vpToken = response.vpToken;
            idToken = response.idToken;

            document.querySelector('#passport').removeAttribute("hidden");
            document.querySelector('#presentation').setAttribute("hidden","")
        }
        xhr.send(JSON.stringify({correlationId}));
    }
    setInterval(check,1000)
</script>
</body>
