<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifier</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<main>
    <a href="/">
        <header>
            <h1>Verifier</h1>
        </header>
    </a>

    <div correlationId="<%=correlationId%>" id="presentation">
        <h2>Created authorization request details</h2>
        <h3>QR Code</h3>
        <img src="<%=qrCodeDataUri%>">
        <p><a href="<%=authReqUri%>">Open from wallet</a></p>

        <h3>URI</h3>
        <p id="req-uri"><%=authReqUri%></p>

        <h3>Authorisation request</h3>
        <p>Here is authorization request obtained from request_uri and decoded from JWT</p>
        <pre id="authReqObj"></pre>
    </div>
    <div id="status">
        <h2>Status of created presentation</h2>
        <p>Status of presentation is <strong><span id="status-text"></span></strong></p>
    </div>
    <div id="passport" hidden>
        <h2>Covid passport</h2>
        <p>Manufacturer is <span id="passport-manufacturer"></span></p>
        <p>Not valid before <span id="passport-nbf"></span></p>
        <p>Valid until <span id="passport-exp"></span></p>
        <p>Current valid status is <strong><span id="passport-status"></span></strong></p>

        <br>
        <p>Verifier has id token with payload</p>
        <pre id="id-token"></pre>
        <p>Verifier has vp token with payload</p>
        <pre id="vp-token"></pre>
    </div>
</main>
<script src="/authStatus.js"></script>
</body>
