<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifier</title>
</head>
<body>
<main>
    <div>
        <h1>Verifier</h1>
        <p>Go to <a href="/example-presentation">example</a></p>
    </div>
</main>
</body>
